config TRICORE_TESTBOARD
    default y
    depends on TRICORE
    bool

config TRIBOARD
    bool
    default y
    depends on TRICORE
    select TC27X_SOC
    select TC39X_SOC

config TC27X_SOC
    bool
    select TRICORE_ASCLIN
    select TRICORE_IRBUS
    select TRICORE_SCU
    select TRICORE_STM

config TC39X_SOC
    bool
    select TRICORE_ASCLIN
    select TRICORE_IRBUS
    select TRICORE_SCU
    select TRICORE_STM

config TRICORE_SCU
    bool
