config TPM
    bool

config TPM_TIS
    bool
    default y if PC
    depends on TPM

config TPM_CRB
    bool
    default y
    depends on TPM && PC

config TPM_PASSTHROUGH
    bool

config TPM_EMULATOR
    bool
