config HEATHROW_PIC
    bool

config I8259
    bool
    select ISA_BUS

config PL190
    bool

config IOAPIC
    bool
    select I8259

config ARM_GIC
    bool
    select MSI_NONBROKEN

config OPENPIC
    bool
    select MSI_NONBROKEN
    select OPENPIC_KVM if KVM

config APIC
    bool
    select MSI_NONBROKEN
    select I8259

config ARM_GIC_KVM
    bool
    default y
    depends on ARM_GIC && KVM

config OPENPIC_KVM
    bool

config XICS
    bool
    select XICS_KVM if KVM

config XICS_SPAPR
    bool
    select XICS

config XIVE
    bool
    select XIVE_KVM if KVM

config XIVE_SPAPR
    bool
    select XIVE

config XICS_KVM
    bool

config XIVE_KVM
    bool

config ALLWINNER_A10_PIC
    bool

config S390_FLIC
    bool

config S390_FLIC_KVM
    bool
    default y
    depends on S390_FLIC && KVM

config OMPIC
    bool

config RX_ICU
    bool

config LOONGSON_LIOINTC
    bool

config SIFIVE_CLINT
    bool

config SIFIVE_PLIC
    bool
