config HYPERV
    bool
    depends on KVM

config HYPERV_TESTDEV
    bool
    default y if TEST_DEVICES
    depends on HYPERV

config VMBUS
    bool
    default y
    depends on HYPERV

config HV_BALLOON
    bool
    default y
    depends on HV_BALLOON_POSSIBLE && VMBUS && HAPROT
