config S390_CCW_VIRTIO
    bool
    imply VIRTIO_PCI
    imply TERMINAL3270
    imply VFIO_AP
    imply VFIO_CCW
    imply WDT_DIAG288
    select PCI_EXPRESS
    select S390_FLIC
    select SCLPCONSOLE
    select VIRTIO_CCW
    select MSI_NONBROKEN
    imply E1000E_PCI_EXPRESS
    imply IGB_PCI_EXPRESS
    imply USB_XHCI_PCI
