# These are "proxy" symbols used to pass config-host.mak values
# down to Kconfig.  See also MINIKCONF_ARGS in the Makefile:
# these two need to be kept in sync.

config KVM
    bool

config OPENGL
    bool

config SPICE
    bool

config TPM
    bool

config XEN
    bool

config VHOST_USER
    bool

config LINUX
    bool
