config PAM
    bool

config PREP_PCI
    bool

config GRACKLE_PCI
    bool

config UNIN_PCI
    bool

config PPCE500_PCI
    bool

config VERSATILE_PCI
    bool

config PCI_SABRE
    bool

config PCI_PIIX
    bool
    select PCI

config PCI_Q35
    bool
    select PCIE
    select PCI
    select XIO3130
    select IOH3420
    select I82801B11

config PCI_GENERIC
    bool
    select PCIE

config PCI_XILINX
    bool
    select PCIE

config PCI_DESIGNWARE
    bool
    select PCIE
