config WHPX
    bool

config NVMM
    bool

config HAX
    bool

config HVF
    bool

config TCG
    bool

config KVM
    bool
    imply XEN_EMU if (I386 || X86_64)

config XEN
    bool
    select FSDEV_9P if VIRTFS
