config SCSI
    bool

config LSI_SCSI_PCI
    bool
    default y
    depends on PCI

config MPTSAS_SCSI_PCI
    bool
    default y
    depends on PCI

config MEGASAS_SCSI_PCI
    bool
    default y
    depends on PCI

config VMW_PVSCSI_SCSI_PCI
    bool
    default y
    depends on PCI

config ESP
    bool

config ESP_PCI
    bool
    default y
    depends on PCI
    select ESP

config VIRTIO_SCSI
    bool

config VHOST_USER_SCSI
    bool
