config PL181
    bool
    select SD

config SSI_SD
    bool
    depends on SSI
    select SD

config SD
    bool

config SDHCI
    bool
    select SD

config SDHCI_PCI
    bool
    depends on PCI
    select SDHCI
