config FSI_APB2OPB_ASPEED
    bool
    select FSI_OPB

config FSI_OPB
    bool
    select FSI_CFAM

config FSI_CFAM
    bool
    select FSI
    select FSI_LBUS

config FSI
    bool

config FSI
    bool

config FSI_LBUS
    bool
