config PCIE_PORT
    bool
    default y
    depends on PCIE

config PXB
    bool

config XIO3130
    bool
    depends on PCIE

config IOH3420
    bool
    depends on PCIE

config I82801B11
    bool

config DEC_PCI
    bool

config SIMBA
    bool
