config NITRO_SERIAL_VSOCK
    bool
    depends on NITRO

config NITRO_HEARTBEAT
    bool
    depends on NITRO

config NITRO_MACHINE
    bool
    default y
    depends on NITRO
    select NITRO_HEARTBEAT
    select NITRO_SERIAL_VSOCK
