/* CSS style for QEMU Texinfo documents */
/* based on Public domain 2016 sirgazil. All rights waived. */

a:link,
a:visited {
    color: #F03B11;
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    text-decoration: underline;
}

abbr,
acronym {
    cursor: help;
}

blockquote {
    color: #555753;
    font-style: oblique;
    margin: 30px 0;
    padding-left: 3em;
}

body {
    background: url("https://www.qemu.org/assets/images/qemu_head_200.png") no-repeat fixed 2em 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #000000;
    margin-left: 16.667%;
    width: 66.667%;
}

code,
samp,
tt,
var {
    font-family: 'Roboto Mono', monospace;
}

div.example,
div.lisp {
    margin: 0;
}

dl {
    margin: 3em 0;
}

dl dl {
    margin: 0;
}

dt {
    background-color: #F5F5F5;
    padding: 0.5em;
}

h1,
h2,
h2.contents-heading,
h3,
h4 {
    padding: 20px 0 0 0;
    font-weight: 300;
}

h1 {
    position: relative;
    background: #f03b11;
    background: -webkit-linear-gradient(top, #f03b11 0%, #f01139 100%);
    background: linear-gradient(to bottom, #f03b11 0%, #f01139 100%);
    background-size: cover;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    font-weight: 300;
    line-height: 1em;
    font-size: 3em;
}

h2 {
    font-size: 2.2em;
    font-weight: bold;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

hr {
    display: none;
}

img {
    max-width: 100%;
}

li {
    padding: 5px;
}

pre.display,
pre.example,
pre.format,
pre.lisp,
pre.verbatim {
    overflow: auto;
}

pre.example,
pre.lisp,
pre.verbatim {
    background-color: #2D3743;
    border-color: #000;
    border-style: solid;
    border-width: thin;
    color: #E1E1E1;
    font-size: smaller;
    padding: 1em;
}

table {
    border-collapse: collapse;
    margin: 40px 0px;
}

table.index-cp *,
table.index-fn *,
table.index-ky *,
table.index-pg *,
table.index-tp *,
table.index-vr * {
    background-color: inherit;
    border-style: none;
}

td,
th {
    border-color: silver;
    border-style: solid;
    border-width: thin;
    padding: 10px;
}

th {
    background-color: #F5F5F5;
}

.contents-heading {
    display: none;
}

.contents {
    margin-bottom: 4em;
}

.float {
    margin: 3em 0em;
}

.float-caption {
    font-size: smaller;
    text-align: center;
}

.float>img {
    display: block;
    margin: auto;
}

.footnote {
    font-size: smaller;
    margin: 5em 0em;
}

.footnote h3 {
    display: inline;
    font-size: small;
}

.header {
    background-color: #F2F2F2;
    font-size: small;
    padding: 0.2em 1em;
}

.key {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7;
}

.menu * {
    border-style: none;
}

.menu td {
    padding: 0.5em 0em;
}

.menu td:last-child {
    width: 60%;
}

.menu th {
    background-color: inherit;
}

.example code,
.example var {
    color: #E1E1E1;
}
