config FW_CFG
    bool

config FW_CFG_DMA
    bool
    select FW_CFG

config DS1225Y
    bool

config AT24C
    bool
    depends on I2C

config MAC_NVRAM
    bool
    select CHRP_NVRAM

# NMC93XX uses the NS uWire interface (similar to SPI but less configurable)
config NMC93XX_EEPROM
    bool

config CHRP_NVRAM
    bool
